.msg-container {
  padding: 1rem;
}
.msg-container p {
  font-size: 2rem;
  color: #334155;
  font-weight: bold;
}
.fadeEnter {
  opacity: 0;
}
.fadeEnterActive {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.fadeExit {
  opacity: 1;
}
.fadeExitActive {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
