input,
input:focus {
  outline: none;
}
ul {
  list-style: none;
}
.lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .lists {
    flex-direction: column;
    gap: 2rem;
  }
}
.list {
  max-width: 100%;
  padding: 2rem;
  background-color: #ebb10280;
  backdrop-filter: blur(10px);
  border: 1px solid #ebad02;
  border-radius: 0.8rem;
  text-align: center;
}
.list-title {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  color: #831843;
  text-align: center;
}
.btn {
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  background-color: #701a75;
  color: #ebb002;
  font-weight: bold;
  border-radius: 0.8rem;
  border-color: transparent;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.btn:hover {
  background-color: #ebb002;
  border-color: #ebb002;
  color: #701a75;
}
