@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --mainBackground: repeating-linear-gradient(
    0deg,
    #bae6fd 0%,
    #60a5fa 10%,
    #1d4ed8 20%
  );
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background: var(--mainBackground);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
